.community {
    border: 1px solid red;

    width: 90%;
    max-width: 1200px;
    height: 100vh;
    padding: 1rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

@media (max-width: 768px) {
    .community {
        grid-template-columns: 1fr;
        height: auto;
    }
}